/**********************************************************************************************/

#container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 24px;
    height:97vh;
}

body{
    background-color:#F2FAF5;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color:darkseagreen;
    border-radius: 10px;
    grid-column: 1/span 12;
    grid-row: 1 /span 1;
    height: 130px;
}

footer{
    border: 1px solid tomato;
    grid-column: 1/span 12;
    grid-row: 3 /span 1;
    height: 50px;
}

.side_bar{
    border: 1px solid tomato;
    grid-column: 1/span 6;
    grid-row: 2 /span 1;
    display: grid;
    grid-template-rows: auto auto;
}

.result_area{
    border: 1px solid tomato;
    grid-column: 7 /span 6;
    grid-row: 2 /span 1;
}

.social{
    grid-column: 1/ span 6;
    grid-row: 2/ span 1;
}

.form_label{
    margin-left: 10px;
    
    
}

.number_input{
    width: 250px;
    height: 30px;
    border-radius: 6px;
    margin-left: 10px;
    background-color: #F2FAF5;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

