<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/sytle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <title>Tuberculosis prediction</title>
</head>


<body>

    <div id="container">

        <header>
            <img src="../static/styles/logo.png">
        </header>


        <form id = "form" action="/" method="POST" class = "form_layout">
            <label for="quantity" class = "number_label">Input your patient age:</label>
            <input type="number" name="age" id = "age_input" class = "number_input" placeholder="Age in years" min = 18 max = 120 value = 18>

            <label for="sex" class = "sex_label">Select you patient sex:</label>
            <select name="sex" id="sex" class = "sex_input">
                <option value=0>Female</option>
                <option value=1>Male</option>
            </select>


            <label for="esc" class = "esc_label">Schooling</label>
            <select name="esc" id="esc" class = "esc_input">
                <option value=0>< 5 years</option>
                <option value=1>5 to 9 years</option>
                <option value=2>9 to 12 years</option>
                <option value=3>>12 years</option>
            </select>


            <label for="tb" class = "tb_label">Does the patient had prior TB?</label>
            <select name="tb" id="tb" class = "tb_input">
                <option value=1>Yes</option>
                <option value=0>No</option>
            </select>

            <label for="hiv" class = "hiv_label">Is the patient positive for HIV?</label>
            <select name="hiv" id="hiv" class = "hiv_input">
                <option value=1>Yes</option>
                <option value=0>No</option>
            </select>

         
            <label for="drug" class = "drug_label">Ilicit drug use</label>
            <select name="drug" id="drug" class = "drug_input">
                <option value=1>Yes</option>
                <option value=0>No</option>
            </select>


            <label for="alch" class = "alch_label">Alcohol misuse:</label>
            <select name="alch" id="alch" class = "alch_input">
                <option value=1>Yes</option>
                <option value=0>No</option>
            </select>

            <label for="tobaco" class = "tobaco_label">Smoking:</label>
            <select name="tobaco" id="tobaco" class = "tobaco_input">
                <option value=1>Yes</option>
                <option value=0>No</option>
            </select>




            <input class= "submit_button" type = "submit" value = "Submit">
                
        

        </form>

        <script>
            const form = document.getElementById("form");
            const age = document.getElementById("age_input");

            form.addEventListener("submit", function(e){
                
                e.preventDefault();

                const age_value = age.value

                localStorage.setItem("age_data", age_value);

                window.location.href = "graph.html";
            })
        </script>

        <div class = "result_area">
           
        </div>

        <footer>
            <div class = "footer_logo">
                <svg xmlns = "http://www.w3.org/2000/svg" class = "footer_img" viewBox ="0 0 16 16">
                    <a href="https://github.com/rodriguesmsb/TBPrediction">
                        <path d = "M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 
                        7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 
                        1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 
                        0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 
                        3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                    </path>
                    </a>
                </svg>     
            </div>
        </footer>

    </div>

</body>

</html>