<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/sytle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Tuberculosis prediction</title>
</head>

<body>

    <div id="container">

        <header>
            <img src="../static/styles/logo.png">

        </header>


        <!--<h1 style="margin-left:10px">Entre com as características do indivíduo</h1>-->
           
        <form action="/" method="POST", class = "form_layout">

            <label for="quantity" class = "number_label">Digite sua idade:</label>
            <input type="number" name="age" class = "number_input" placeholder="Idade em anos" min = 18 max = 99>

            <label for="sex" class = "sex_label">Selecione o sexo:</label>
            <select name="sex" id="sex" class = "sex_input">
                <option value="0">Feminino</option>
                <option value="1">Masculino</option>
            </select>
            






           
              

        </form>

            

        <div class="result_area">

        

        </div>

        


        <footer></footer>

    </div>

</body>

</html>